@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Pacifico&family=Rancho&display=swap');
.main-section{
  width: 100%;
  height: 90vh;
  background-image: url('/images/main-banner.jpg');
  background-size: cover;
  background-position: center;
}
.user-header {
  height: 70px;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 80;
  background-color: var(--white);
  top: 0px;
  
}
.header-item {
  display: flex;
  align-items: center;
  color: var(--black);
  
}
.header-item h1{
  font-family: 'Rancho', cursive;
  color: black;
}
.search-box {
  width: 500px;
  height: 40px;
  background-color: var(--lightGrey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
.search-box input {
  all: unset;
  width: 100%;
  height: 100%;
  background: none;
}
.header-right {
  display: flex;
  gap: 30px;
  align-items: center;
}
.right-icon.profile {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightGrey);
}
a{
  text-decoration: none;
}
.right-icon{
  color: var(--black);
}

.sidebar{
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 90;
  top: 0px;
  backdrop-filter: blur(2px);
  margin-left: -100%;
  transition: .3s;
}
.sidebar-container{
  width: 70%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  

}
.sidebar.open{
  margin-left: 0px;
}
.side-head{
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.side-head i{
  font-size: 1.3rem;
}

.side-items{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 40px;
  padding-top: 25px;
}
.side-items li{
  list-style: none;
  font-size: 1rem;
  color: black;
  font-weight: 450;
}
.side-items a{
  display: flex;
  color: black;
  gap: 20px;
}
.logout-btn{
  position: fixed;
  bottom: 0px;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-weight: 500;
}
.logout-btn a{
  display: flex;
  gap: 20px;
  color: red;
}
.search-box button{
  border: none;
  background: none;
  outline: none;
}
.header-right .nav-item {
  display: flex;
  gap: 3px !important;
}
.header-right .nav-item .nav-icon {
  font-size: 18px;
  font-weight: 600;
}
.header-item .nav-right-icons {
  display: flex;
  height: 100%;
  margin-top: 30px;
  gap: 30px;
  align-items: center;
}
.main-section .main-data {
  display: flex;
  height: 100%;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  padding-left: 200px;
}
.main-section  .main-data p {
  line-height: 2;
}
.main-section  .main-data button {
  width: 160px;
  height: 50px;
  margin-top: 20px;
  border: 2.3px solid black;
}
.main-section  .main-data button:hover {
  background-color: black;
  color: white;
}

.banner-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Set the container to a relative position */
  top: -70px; /* Adjust the value to move it up as needed */
  z-index: 1;
}
.banner-cards .banner-card {
  height: 280px;
  width: 400px;
  border: 10px solid white;
  top: -40px;
  z-index: 10;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  gap: 20px;
  flex-direction: column;

}
.banner-cards .banner-card .banner-card-head {
  display: flex;
  flex-direction: column;
}

.banner-cards .banner-card1 {
  background: url("/images/image-6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-cards .banner-card2 {
  background: url("/images/image-7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-cards .banner-card3 {
  background: url("/images/image-8.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.trending-container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.trending {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin-top: 20px;
}
.trending .trending-head {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.trending-head p {
  font-size: 16px;
  text-align: center;
  color: rgb(122, 122, 122);
}
.trending .trending-card {
  height: 300px;
  width: 220px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.trending-card p {
  color: rgb(122, 122, 122);
  margin: 0px !important;
}
.trending-card .price {
  color: #000;
  display: flex;
  gap: 3px;
}
.trending .trending-card img {
  height: 80%;
  width: 100%;
}
.trending-cards{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.trending-container button{
  height: 40px;
  width: 200px;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  border: 1px  rgb(202, 202, 202) solid ;
  background-color: white;
  font-weight: 500;
}
.essential-products{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.essential-products .essential-product-card{
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 48%;
}
.essential-product-card .essential-product-detials{
  width: 60%;
  padding: 20px;
  gap: 20px;
  height: 80%;
}
.essential-product-detials .essential-product-head{
  display: flex;
  flex-direction: column;
  gap: 1px !important;
}
.essential-product-head p{
  color: #bc8347;
  font-weight: 600;
}
.essential-product-detials button{
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
}
.essential-product-detials button p{
  margin: 0px;
  color: #bc8347;
}
.essential-product-head p{
  margin: 0px !important;
}
.essential-products .essential-product-card2{
  background: url('/images/image-4.jpg');
  background-position: center;
  background-size: cover;
}
.essential-products .essential-product-card1{
  background: url('/images/image-5.jpg');
  background-position: center;
  background-size: cover;
}
.offer-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offer-container .offers{
  width: 70%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.offers .offer-head{
  width: 100%;
  margin-top: 20px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offers .offer-cards{
  display: flex;
  width: 90%;
  justify-content: space-around;
}
.offer-cards .offer-card{
  height: 230px;
  width: 180px;
  background-color: #000;
}
@media(min-width:600px){
  .sidebar{
    display: none;
  }
}
@media(max-width:600px){
  .user-header{
    padding: 50px 0px;
    height: 120px;
  }
  .header-right{
    display: none;
  }
  .header-item h1{
    font-size: 1.8rem;
    margin-top: 8px;
  }
  .header-item i{
    font-size: 1.3rem;
    margin-right: 10px;
  }

  .search-box{
    width:100%;
  }
  .search-box input{
    width: 90%;
  }
  .adminHeader{
    max-height: 70px;
    padding: 0px;
    overflow: hidden;
  }
  
}