@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Pacifico&family=Rancho&display=swap");

.user-header {
  background-color: #f4f5f4;
  height: 70px;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 80;
  top: 0px;
}
.header-item {
  display: flex;
  align-items: center;
  color: var(--black);
}
.header-item h1 {
  font-family: "Rancho", cursive;
  color: black;
}
.search-box {
  width: 500px;
  height: 40px;
  background-color: var(--lightGrey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
.search-box input {
  all: unset;
  width: 100%;
  height: 100%;
  background: none;
}
.header-right {
  margin-top: 20px;
  height: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
}
.header-right .nav-item {
  display: flex;
  gap: 3px !important;
}
.header-right .nav-item .nav-icon {
  font-size: 18px;
  font-weight: 600;
}
.header-item .nav-right-icons {
  display: flex;
  height: 100%;
  margin-top: 30px;
  gap: 30px;
  align-items: center;
}
.header-item .nav-right-icons .nav-right-icon {
  display: flex;
  gap: 4px;
}
.right-icon.profile {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightGrey);
}
a {
  text-decoration: none;
}
.right-icon {
  color: var(--black);
}

.sidebar {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 90;
  top: 0px;
  backdrop-filter: blur(2px);
  margin-left: -100%;
  transition: 0.3s;
}
.sidebar-container {
  width: 70%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
}
.sidebar.open {
  margin-left: 0px;
}
.side-head {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.side-head i {
  font-size: 1.3rem;
}

.side-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 40px;
  padding-top: 25px;
}
.side-items li {
  list-style: none;
  font-size: 1rem;
  color: black;
  font-weight: 450;
}
.side-items a {
  display: flex;
  color: black;
  gap: 20px;
}
.logout-btn {
  position: fixed;
  bottom: 0px;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-weight: 500;
}
.logout-btn a {
  display: flex;
  gap: 20px;
  color: red;
}
.search-box button {
  border: none;
  background: none;
  outline: none;
}

.banner {
  background-color: #f4f5f4;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  
  position: relative;
}

.banner .banner-container {
  width: 70%;
  padding-left: 60px;
  height: 500px;
  background: url("/images/main-banner.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
}
.banner .banner-container .banner-data {
  display: flex;
  height: 100%;

  flex-direction: column;
  justify-content: center;
}
.banner .banner-container .banner-data button {
  width: 160px;
  height: 50px;
  margin-top: 20px;
  border: 2.3px solid black;
}
.banner .banner-container .banner-data button:hover {
  background-color: black;
  color: white;
}
.banner-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-cards .banner-card {
  height: 280px;
  width: 400px;
  border: 10px solid white;
  top: -40px;
  z-index: 10;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  gap: 20px;
  flex-direction: column;
}
.banner-cards .banner-card .banner-card-head{
    display: flex;
    flex-direction: column;
}

.banner-cards .banner-card1 {
  background: url("/images/image-6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-cards .banner-card2 {
  background: url("/images/image-7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-cards .banner-card3 {
  background: url("/images/image-8.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 600px) {
  .sidebar {
    display: none;
  }
}
@media (max-width: 600px) {
  .user-header {
    padding: 50px 0px;
    height: 120px;
  }
  .header-right {
    display: none;
  }
  .header-item h1 {
    font-size: 1.8rem;
    margin-top: 8px;
  }
  .header-item i {
    font-size: 1.3rem;
    margin-right: 10px;
  }

  .search-box {
    width: 100%;
  }
  .search-box input {
    width: 90%;
  }
  .banner .banner-data h1 {
    font-size: 17px;
  }
  .banner {
    width: 100px;
  }
  .banner-container {
    width: 600px;
  }
}
